@using Blog_Page.Models
@model List<BlogListModel>

@{
    string[] image = new string[6];

    for (int i = 0; i < Model.Count; i++)
    {
        int number = 0;

        foreach (var fileName in Model[i].FileNames.Split(','))
        {
            number++;
            image[i] += System.IO.Path.Combine("~/Uploads/" + fileName.Trim());

            if (number == 1)
                break;
        }
    }
}

<!-- Breadcrumb -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content" data-aos="fade-up">
            <p>HOME - BLOG</p>
            <h1 class="section-heading"><img src="~/Website/Home/images/star-2.png" alt="Star"> Bloglar <img src="~/Website/Home/images/star-2.png" alt="Star"></h1>
        </div>
    </div>
</section>


<!-- Blog Items -->
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-items">

                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="blog-item" data-aos="zoom-in">
                            <div class="img-box">
                                <img src="@Url.Content(image[i])" alt="Blog">
                            </div>
                            <div class="content">
                                <span class="meta">@Model[i].CreatedDate.ToShortDateString()</span>
                                <h1><a href="blog-details.html">@Model[i].Title</a></h1>
                                <p>@Model[i].Description</p>
                                <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@Model[i].ID" class="theme-btn">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>